<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/head::header"></head>
	<body id="page-top">
		<th:block sec:authorize="isAuthenticated()">
		    <!-- 중복투표, 결과공개, 익명투표 설정을 위한 모달 -->
			<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="false">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title" id="settingsModalLabel">투표 설정</h5>
			                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			            </div>
			            <div class="modal-body">
			                <!-- 중복투표 설정 -->
			                <div class="form-check">
			                    <input class="form-check-input" type="checkbox" id="allowDuplicates">
			                    <label class="form-check-label" for="allowDuplicates">중복투표 허용</label>
			                </div>
			                <!-- 결과공개 설정 -->
			                <div class="form-check">
			                    <input class="form-check-input" type="checkbox" id="showResults" checked>
			                    <label class="form-check-label" for="showResults">투표 결과 공개</label>
			                </div>
			                <!-- 익명투표 설정 -->
			                <div class="form-check">
			                    <input class="form-check-input" type="checkbox" id="anonymousVoting">
			                    <label class="form-check-label" for="anonymousVoting">익명투표</label>
			                </div>
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelSettings()">닫기</button>
			                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveSettings()">저장</button>
			            </div>
			        </div>
			    </div>
			</div>
		    <!-- Page Wrapper -->
		    <div id="wrapper">
		    	<div th:replace="layout/sidebar::sidebar"></div>
		        <!-- Content Wrapper -->
		        <div id="content-wrapper" class="d-flex flex-column">
		            <!-- Main Content -->
		            <div id="content">
		                <div th:replace="layout/topbar::topbar"></div>
		                <!-- Begin Page Content -->
		                <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
	                        <div class="container-fluid px-4">
	                            <div class="page-header-content">
	                                <div class="row align-items-center justify-content-between pt-3">
	                                    <div class="col-auto mb-3">
	                                        <h1 class="page-header-title h3 mb-0">
	                                            투표 등록
	                                        </h1>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </header>
		                <div class="container-fluid">
		                	<div class="mx-5 px-5">
							    <form action="/vote/insert.do" method="post">
							    	<input type="hidden" name="teamNo" th:value="${teamNo}">
							    	<input type="hidden" id="duplicate" name="duplicateYn" th:value="N">
							    	<input type="hidden" id="result" name="resultYn" th:value="N">
							    	<input type="hidden" id="anonymous" name="anonymousYn" th:value="N">
							        <!-- 투표 제목 입력 -->
							        <div class="mb-3">
							            <label for="voteTitle" class="form-label">투표 제목</label>
							            <input type="text" class="form-control" id="voteTitle" name="voteTitle" required>
							        </div>
							        <!-- 투표 항목 추가 -->
							        <div id="voteOptions">
							            <div class="input-group mb-3">
							                <input type="text" class="form-control" placeholder="투표 항목" name="voteOptions" required>
							                <button class="btn btn-outline-danger" type="button" onclick="deleteOption(this)">삭제</button>
							            </div>
							        </div>
							        <button type="button" class="btn btn-primary mb-3" onclick="addOption()">항목 추가</button>
							        <!-- 투표 마감일 입력 -->
							        <div class="mb-3">
							            <label for="endDate" class="form-label">투표 마감일</label>
							            <input type="date" class="form-control" id="endDate" name="voteEndDate" required>
							        </div>
							        <div class="row">
									    <div class="col">
										    <!-- 설정 버튼 -->
										    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#settingsModal">
										        설정
										    </button>
							        	</div>
							        	<div class="col text-right">
									        <!-- 입력값 전송 -->
									        <button type="button" class="btn btn-outline-primary" onclick="goBack()">뒤로가기</button>
									        <button type="submit" class="btn btn-primary">투표 등록</button>
							        	</div>
							        </div>
							    </form>
		                	</div>
		                </div>
		                <!-- /.container-fluid -->
		            </div>
		            <!-- End of Main Content -->
		            <div th:replace="layout/footer::footer"></div>
		        </div>
		        <!-- End of Content Wrapper -->
		    </div>
		    <!-- End of Page Wrapper -->
		    <!-- Scroll to Top Button-->
		    <a class="scroll-to-top rounded" href="#page-top">
		        <i class="fas fa-angle-up"></i>
		    </a>
	   	</th:block>
	   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
		<script type="text/javascript">
			// 현재 날짜 가져오기
	        var today = new Date();
	        var dd = today.getDate();
	        var mm = today.getMonth() + 1; // 0부터 시작하므로 1을 더함
	        var yyyy = today.getFullYear();
	        if (dd < 10) {
	            dd = '0' + dd;
	        }
	        if (mm < 10) {
	            mm = '0' + mm;
	        }
	        today = yyyy + '-' + mm + '-' + dd;
	        // 오늘 이후의 날짜만 선택 가능하도록 설정
	        document.getElementById("endDate").setAttribute("min", today);
			
			// 모달 창 내에 있는 설정들 저장 변수
			let allowDuplicates;
			let showResults;
			let anonymousVoting;
			
			//저장 버튼 클릭 시 설정 저장
			function cancelSettings() {
				document.getElementById('allowDuplicates').checked = allowDuplicates;
		        document.getElementById('showResults').checked = showResults;
		        document.getElementById('anonymousVoting').checked = anonymousVoting;
			}
			
		    // 저장 버튼 클릭 시 설정 저장
		    function saveSettings() {
		        allowDuplicates = document.getElementById('allowDuplicates').checked;
		        showResults = document.getElementById('showResults').checked;
		        anonymousVoting = document.getElementById('anonymousVoting').checked;
		        
				if (allowDuplicates == true) {
					document.getElementById('duplicate').value = 'Y';
				} else {
					document.getElementById('duplicate').value = 'N';
				}
				if (showResults == true) {
					document.getElementById('result').value = 'Y';
				} else {
					document.getElementById('result').value = 'N';
				}
				if (anonymousVoting == true) {
					document.getElementById('anonymous').value = 'Y';
				} else {
					document.getElementById('anonymous').value = 'N';
				}
		    }
		
		    // 항목 추가 함수
		    function addOption() {
		    	var options = document.querySelectorAll('[name="voteOptions"]');
		        var optionsDiv = document.getElementById('voteOptions');
		        var optionNumber = optionsDiv.childElementCount + 1;
		        var newOption = `
		            <div class="input-group mb-3">
		                <input type="text" class="form-control" placeholder="투표 항목" name="voteOptions" required>
		                <button class="btn btn-outline-danger" type="button" onclick="deleteOption(this)">삭제</button>
		            </div>
		        `;
		        optionsDiv.innerHTML += newOption;
		        let afterAdd = document.querySelectorAll('[name="voteOptions"]');
		        for (let i = 0; i < options.length; i++) {
		        	afterAdd[i].value = options[i].value;
		        }
		    }
		
		    // 항목 삭제 함수
		    function deleteOption(button) {
		        button.parentElement.remove();
		    }
		    
		    function goBack() {
		    	window.history.back();
		    }
		</script>
	</body>
</html>