@charset "UTF-8";

#map {
	width: 75%;
	height: 500px;
	margin-top: 10px;
	float: right;
}

#sidebar {
	float: left;
}

#sidebar ul {
	padding-left: 0;
}

#sidebar li {
	list-style: none;
}