<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtime.tt.ask.model.mapper.AskMapper" >

	


	<select id="selectAskList">
		SELECT * FROM ASK_TBL ORDER BY ASK_NO DESC
	</select>
	
	<select id="selectAskByNo" >
    	SELECT * FROM ASK_TBL WHERE ASK_NO = #{askNo}
	</select>
	
	<update id="updateAsk">
	    UPDATE ASK_TBL
	    SET ASK_TITLE = #{askTitle}, ASK_CONTENT = #{askContent}
	    WHERE ASK_NO = #{askNo}
	</update>
	
	<delete id="deleteAsk">
	    DELETE FROM ASK_TBL
	    WHERE ASK_NO = #{askNo}
	</delete>
	
	<select id="selectTotalCount">
    	SELECT COUNT(*) FROM ASK_TBL
	</select>
	
	<select id="selectAskByKeyword">
	    SELECT * FROM ASK_TBL
	     WHERE 
    <if test="searchCondition == 'all'">
        (ASK_TITLE LIKE '%'||#{searchKeyword}||'%' OR ASK_CONTENT LIKE '%'||#{searchKeyword}||'%' OR ASK_WRITER LIKE '%'||#{searchKeyword}||'%')
    </if>
    <if test="searchCondition == 'writer'">
        ASK_WRITER LIKE '%'||#{searchKeyword}||'%'
    </if>
    <if test="searchCondition == 'title'">
        ASK_TITLE LIKE '%'||#{searchKeyword}||'%'
    </if>
    <if test="searchCondition == 'content'">
        ASK_CONTENT LIKE '%'||#{searchKeyword}||'%'
    </if>
	</select>	
	

	
	    <!-- 이하 댓글 관련 쿼리들 -->
    
    <insert id="insertReply">
        INSERT INTO ASK_REPLY_TBL (REPLY_NO, REPLY_ASK_NO, REPLY_CONTENT, REPLY_WRITER, REPLY_CREATE_DATE)
        VALUES (SEQ_REPLY_NO.NEXTVAL, #{replyAskNo}, #{replyContent}, #{replyWriter}, SYSDATE)
    </insert>
    
    <select id="selectReplyList" resultType="ReplyVO">
        SELECT * FROM ASK_REPLY_TBL WHERE REPLY_ASK_NO = #{refAskNo} ORDER BY REPLY_CREATE_DATE DESC
    </select>
    
    <update id="updateReply">
        UPDATE ASK_REPLY_TBL SET REPLY_CONTENT = #{replyContent}, REPLY_CREATE_DATE = SYSDATE WHERE REPLY_NO = #{replyNo}
    </update>
    
    <delete id="deleteReply">
        DELETE FROM ASK_REPLY_TBL WHERE REPLY_NO = #{replyNo}
    </delete>
</mapper>
