<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtime.tt.board.model.mapper.BoardMapper">
	<insert id="insertBoard">
		INSERT INTO BOARD_TBL VALUES(SEQ_BOARD_NO.NEXTVAL, 1, #{userId}, #{boardTitle}, #{boardCategory}, DEFAULT, #{boardContent})
	</insert>
	
	<insert id="insertComment">
		INSERT INTO BOARD_COMMENT_TBL VALUES(SEQ_COMMENT_NO.NEXTVAL, #{boardNo}, #{userId}, #{commentContent}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<update id="modifyComment">
		UPDATE BOARD_COMMENT_TBL SET UPDATE_DATE = DEFAULT, UPDATE_YN = 'Y', COMMENT_CONTENT = #{commentContent} WHERE COMMENT_NO = #{commentNo}
	</update>
	
	<update id="modifyBoard">
		UPDATE BOARD_TBL SET BOARD_TITLE = #{boardTitle}, BOARD_CATEGORY = #{boardCategory}, BOARD_CONTENT = #{boardContent} WHERE BOARD_NO = #{boardNo}
	</update>
	<delete id="deleteBoard">
		DELETE FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<delete id="deleteComment">
		DELETE FROM BOARD_COMMENT_TBL WHERE COMMENT_NO = #{commentNo}
	</delete>
	<select id="selectBoard" resultType="Board">
		SELECT * FROM BOARD_TBL
	</select>
	
	<select id="selectBoardByNo" resultType="Board">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="selectCommentList">
		SELECT * FROM BOARD_COMMENT_TBL WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="getTotalCount">
		SELECT COUNT(*) FROM BOARD_TBL
	</select>
</mapper>