<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtime.tt.team.model.mapper.TeamMapper">
	<select id="selectTeamById" resultType="UserJoinTeam">
		SELECT U.USER_ID, T.TEAM_NO, T.TEAM_NAME
		FROM USER_TBL U
		LEFT OUTER JOIN USER_TEAM_TBL UT
		ON U.USER_ID = UT.USER_ID
		LEFT OUTER JOIN TEAM_TBL T
		ON UT.TEAM_NO = T.TEAM_NO
		WHERE U.USER_ID = #{userId }
	</select>
	<insert id="insertTeam">
		INSERT INTO TEAM_TBL VALUES(SEQ_TEAM_NO.NEXTVAL, #{userId }, 1, #{teamName })
	</insert>
	<insert id="insertUserTeam">
		INSERT INTO USER_TEAM_TBL VALUES(SEQ_TEAM_NO.CURRVAL, #{userId })
	</insert>
</mapper>