<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtime.tt.todo.model.mapper.TodoMapper">

	<insert id="insertTodo">
		INSERT INTO TODO_TBL VALUES(SEQ_TODO_NO.NEXTVAL, #{userId}, #{startDate}, #{endDate}, #{todoContent}, DEFAULT)
	</insert>
	
	<delete id="deleteTodoByNo">
		DELETE FROM TODO_TBL WHERE TODO_NO = #{todoNo}
	</delete>
	
	<select id="selectTodoById">
		SELECT * FROM TODO_TBL WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectTodo" resultType="Todo">
		SELECT * FROM TODO_TBL WHERE TODO_NO = #{todoNo}
	</select>
	<update id="updateStatus" parameterType="map">
	    UPDATE TODO_TBL 
	    SET TODO_STATUS = #{todoStatus}
	    WHERE TODO_NO = #{todoNo}
	</update>
	
	<update id="modifyTodo">
		UPDATE TODO_TBL
		SET START_DATE = #{startDate}, END_DATE = #{endDate} WHERE TODO_NO = ${todoNo}
	</update>
</mapper>