<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/head::header">
        <style type="text/css">
            .ck-editor__editable[role="textbox"] {
                /* Editing area */
                min-height: 500px;
            }
                        
            .ck-content .image {
                /* Block images */
                max-width: 80%;
                margin: 20px auto;
            }
        </style>	
	</head>
   	<link href="../css/common/bootstrap.css" th:href="@{/css/common/bootstrap.css}" rel="stylesheet">		
	<body id="page-top">
		<th:block sec:authorize="isAuthenticated()">
		    <!-- Page Wrapper -->
		    <div id="wrapper">
		    	<div th:replace="layout/sidebar::sidebar"></div>
		        <!-- Content Wrapper -->
		        <div id="content-wrapper" class="d-flex flex-column">
		            <!-- Main Content -->
							<div id="content">
							  <div th:replace="layout/topbar::topbar"></div>
							  <!-- Begin Page Content -->
							  <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
							    <div class="container-fluid px-4">
							      <div class="page-header-content">
							        <div class="row align-items-center justify-content-between pt-3">
							          <div class="col-auto mb-3">
							            <h1 class="page-header-title h3 mb-0">마이 프로필</h1>
							          </div>
							        </div>
							      </div>
							    </div>
							  </header>
							  <div class="container-fluid">
							    <div class="row">
								<div class="col-2"></div>
								<div class="col-8">
									<h2>게시글 등록</h2>
									<form action="/board/insertBoard.do" method="post">
										<input type="hidden" name="teamNo" th:value="${teamNo}">
										<div class="bd-example m-0 border-0">
											<div class="mb-3">
												<label for="exampleFormControlInput1" class="form-label">제목</label>
												<input type="text" name="boardTitle" class="form-control" id="exampleFormControlInput1" required="required" placeholder="제목을 입력해주세요 :)">
											</div>
											<div class="mb-3">
												<div class="bd-example m-0 border-0">
													<div class="form-check">
														<input class="form-check-input" type="radio" name="boardCategory" id="flexRadioDefault1" value="B">
														<label class="form-check-label" for="flexRadioDefault1">공지</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio" name="boardCategory" id="flexRadioDefault2"value="N" checked="checked">
														<label class="form-check-label" for="flexRadioDefault2">일반글</label>
													</div>
												</div>							
											</div>
											<div class="mb-3">
												<label for="exampleFormControlTextarea1" class="form-label">내용</label>
												<textarea id="editor" name="boardContent"></textarea> <br>
											</div>
										</div>		
										<button class="btn btn-secondary rounded-pill px-3" type="submit">등록하기</button>					
									</form>
								</div>
								<div class="col-2"></div>							
		                    </div>
		                </div>
		                <!-- /.container-fluid -->
		            </div>
		            <!-- End of Main Content -->
		            <div th:replace="layout/footer::footer"></div>
		        </div>
		        <!-- End of Content Wrapper -->
		    </div>
		    <!-- End of Page Wrapper -->
		    <!-- Scroll to Top Button-->
		    <a class="scroll-to-top rounded" href="#page-top">
		        <i class="fas fa-angle-up"></i>
		    </a>
	   	</th:block>
		<script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/super-build/ckeditor.js"></script>		
		<script type="text/javascript">
			function deleteAllAlarm(obj, userId){
				$.ajax({
					url:"/alarm/deleteAllAlarm.do",
					type:"post",
					data:{"userId" : userId},
					success: function(data){
						alert("성공");
						location.reload();
					},
					error: function(){
						alert("실패");
					}
				});
			}
			
			CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
				ckfinder: {
					uploadUrl: '/board/uploadContentsFile.do'
				},
				toolbar: {
					items: [
						'bold', 'italic', 'strikethrough', 'underline'
						, '|', 'outdent', 'indent', '|',
						'undo', 'redo', '|',
						'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', '|',
						, 'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight'
					],
					shouldNotGroupWhenFull: true
				},
				list: {
					properties: {
						styles: true,
						startIndex: true,
						reversed: true
					}
				},
				mediaEmbed: {
					previewsInData: true
				},
				placeholder: '기본 폰트 크기는 13입니다.',
				fontFamily: {
					options: [
						'default',
						'Arial, Helvetica, sans-serif',
						'Courier New, Courier, monospace',
						'Georgia, serif',
						'Lucida Sans Unicode, Lucida Grande, sans-serif',
						'Tahoma, Geneva, sans-serif',
						'Times New Roman, Times, serif',
						'Trebuchet MS, Helvetica, sans-serif',
						'Verdana, Geneva, sans-serif'
					],
					supportAllValues: true
				},
				fontSize: {
					options: [10, 12, 'default', 14, 16],
					supportAllValues: true
				},
				removePlugins: [
					'AIAssistant',
					'CKBox',
					'CKFinder',
					'EasyImage',
					'RealTimeCollaborativeComments',
					'RealTimeCollaborativeTrackChanges',
					'RealTimeCollaborativeRevisionHistory',
					'PresenceList',
					'Comments',
					'TrackChanges',
					'TrackChangesData',
					'RevisionHistory',
					'Pagination',
					'WProofreader',
					'MathType',
					'SlashCommand',
					'Template',
					'DocumentOutline',
					'FormatPainter',
					'TableOfContents',
					'PasteFromOfficeEnhanced',
					'CaseChange'
				]
			}).then( editor => {
                console.log( 'success : ' + editor );
            } )
            .catch( error => {
				console.log( 'error : ' + error );
            } );
		</script>
	</body>
</html>