<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/head::header"></head>
	<body id="page-top">
		<th:block sec:authorize="isAuthenticated()">
		    <!-- Page Wrapper -->
		    <div id="wrapper">
		    	<div th:replace="layout/sidebar::sidebar"></div>
		        <!-- Content Wrapper -->
		        <div id="content-wrapper" class="d-flex flex-column">
		            <!-- Main Content -->
		            <div id="content">
		                <div th:replace="layout/topbar::topbar"></div>
		                <!-- Begin Page Content -->
	                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
	                        <div class="container-fluid px-4">
	                            <div class="page-header-content">
	                                <div class="row align-items-center justify-content-between pt-3">
	                                    <div class="col-auto mb-3">
	                                        <h1 class="page-header-title h3 mb-0">
	                                            마이 프로필
	                                        </h1>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </header>
	                    <div class="container-fluid">
	                        <div class="row">
	                            <div class="col-xl-4">
	                                <!-- Profile picture card-->
	                                <div class="card mb-4 mb-xl-3">
	                                    <div class="card-header">프로필 사진</div>
	                                    <div class="card-body text-center">
		                                <!-- Profile picture image-->
	                                        <th:block th:if="${not #strings.isEmpty(user.imageFile)}">
		 		                            	<img class="img-account-profile rounded-circle my-3" th:src="@{'/resources/uUploadFiles/' + ${user.imageFile}}">
		 		                            	<br> 
	                                        </th:block>
	                                        <th:block th:if="${#strings.isEmpty(user.imageFile)}">
	                                        	<img class="img-account-profile rounded-circle my-3" src="../images/common/undraw_profile.svg">
	                                        	<br>                                    
	                                        </th:block>
	                                        <!-- Profile picture upload button-->
	<!-- 		                            <input type="file" id="imageFile" name="imageFile"> -->
	                                        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#editImgModal">새로운 이미지 업로드</button>
	                                    </div>
	                                </div>
	                                <div class="card mb-4 mb-xl-0">
	                                    <div class="card-header">계정 삭제</div>
                                    	<div class="card-body">
                                        	<p>별도의 유예기간 없이 계정이 즉시 삭제됩니다.<br> 진행하려면 아래의 버튼을 눌러주세요.</p>
                                        	<div class="text-right">
	                                        	<button class="btn btn-danger text-white" type="button" th:onclick="deleteUser();">삭제하기</button>
                                        	</div>
                                    	</div>
	                                </div>
	                            </div>
	                            <div class="col-xl-8">
	                                <!-- Account details card-->
	                                <div class="card mb-4">
	                                    <div class="card-header">계정 정보</div>
	                                    <div class="card-body">
	                                    	<div class="mb-4">
                                                <label class="small mb-2" for="inputUserId">아이디</label>
                                                <input class="form-control" id="inputUserId" type="text" name="userId" th:value="${user.userId}" readonly />
                                            </div>
                                            <div class="row gx-3 mb-4">
                                                <!-- Form Group (이름)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-2" for="inputUserName">이름</label>
                                                    <input class="form-control" id="inputUserName" type="text" name="userName" th:value="${user.userName}" readonly />
                                                </div>
                                                <!-- Form Group (닉네임)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-2" for="inputUserNickname">닉네임</label>
                                                    <input class="form-control" id="inputUserNickname" type="text" name="userNickname" th:value="${user.userNickname}">
                                                </div>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="mb-4">
                                                <label class="small mb-2" for="inputEmailAddress">이메일</label>
                                                <input class="form-control" id="inputEmailAddress" type="email" name="userEmail" th:value="${user.userEmail}">
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="mb-5">
                                                <label class="small mb-2" for="inputPhone">휴대폰 번호</label>
                                                <input class="form-control" id="inputPhone" type="number" name="userPhone" th:value="${user.userPhone}">
                                            </div>
                                             <!-- Form Row-->
                                            <div class="row gx-3 mb-4">
	                                            <div class="col-md-9"></div>
	                                            <!-- Save changes button-->
	                                            <div class="col-md-3 mb-2 text-right">
	                                            	<button type="button" class="btn btn-primary" th:onclick="updateUser();">변경사항 저장하기</button>
	                                            </div>
                                            </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		            <!-- End of Main Content -->
		            <div th:replace="layout/footer::footer"></div>
		        </div>
		        <!-- End of Content Wrapper -->
		    </div>
		    <!-- End of Page Wrapper -->
		    <!-- Scroll to Top Button-->
		    <a class="scroll-to-top rounded" href="#page-top">
		        <i class="fas fa-angle-up"></i>
		    </a>
	   	</th:block>
		<div class="modal fade" id="editImgModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="settingsModalLabel">프로필 이미지 변경</h5>
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body text-center">
		            	<th:block th:if="${not #strings.isEmpty(user.imageFile)}">
                   			<img id="profile-wrap" class="img-account-profile rounded-circle mb-2" th:src="@{'/resources/uUploadFiles/' + ${user.imageFile}}">
                   			<br>
                           </th:block>
                           <th:block th:if="${#strings.isEmpty(user.imageFile)}">
                           	<img id="profile-wrap" class="img-account-profile rounded-circle my-3" src="../images/common/undraw_profile.svg">
                          		<br>                             
                           </th:block>
                       	<form id="profileForm" enctype="multipart/form-data">
                       		<input class="form-control" type="hidden" id="userId" name="userId" th:value="${user.userId}">
                       		<div class="mb-4">
                                <label class="small mb-1" for="imageFile"></label>
                                <input class="form-control" id="imageFile" type="file" name="imageFile">
                            </div>
                       	</form>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" th:onclick="updateProfileImg();">변경</button>
		            </div>
		        </div>
		    </div>
		</div>
		<script>
	        function readImage(input) {
	            if(input.files && input.files[0]) {
	                const reader = new FileReader()
	                reader.onload = e => {
	                    const previewImage = document.querySelector("#profile-wrap");
	                    previewImage.src = e.target.result;
	                }
	                reader.readAsDataURL(input.files[0]);
	            }
	        }

	        const inputImage = document.getElementById("imageFile");
	        inputImage.addEventListener("change", e => {
	            readImage(e.target);
	        })
			
			function updateProfileImg() {
	        	var formData = new FormData();
	        	var userId = $("#userId").val();
	        	var imageFile = $("#imageFile")[0].files;
	        	formData.append('userId', userId);
	        	formData.append('imageFile', imageFile[0]);
				console.log(formData);
				if (confirm("프로필 사진을 변경하시겠습니까?")) {
					$.ajax({
						url : "/user/updateProfile.do",
						enctype: 'multipart/form-data',
						type : "POST",
						data : formData,
						cache: false,
						contentType: false,
						processData: false,
						success : function(data) {
							if (data == "success") {
								alert("프로필 사진 수정이 완료되었습니다.");
								location.reload();
							} else {
								alert("실패!");
							}
						},
						error : function() {
							alert("에러!");
						}
					});
				}
			}

			function updateUser() {
				var userId = $("#inputUserId").val();
				var userName = $("#inputUserName").val();
				var userNickname = $("#inputUserNickname").val();
				var userEmail = $("#inputEmailAddress").val();
				var userPhone = $("#inputPhone").val();
				$.ajax({
					url : "/user/update.do",
					type : "POST",
					data : { "userId" : userId
						, "userName" : userName
						, "userNickname" : userNickname
						, "userEmail" : userEmail
 						, "userPhone" : userPhone
					},
					success : function(data) {
						if (data == "success") {
							location.href = "/user/myPage.do";
							location.reload();
						} else {
							alert("실패!");
							location.href = "/user/myPage.do";
						}
					},
					error : function() {
						alert("에러!");
					}
				});
			}
			
			function deleteUser() {
				var userId = $("#inputUserId").val();
				$.ajax({
					url : "/user/delete.do",
					type : "GET",
					data : {},
					success : function(data) {
						if (data == "success") {
							alert("탈퇴가 완료되었습니다.");
							location.href = "/user/login.do";
						} else {
							alert("실패!");
						}
					},
					error : function() {
						alert("에러!");
					}
				});
			}
		</script>
	</body>
</html>