<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/head::header"></head>
	<body id="page-top">
		<th:block sec:authorize="isAuthenticated()">
		    <!-- Page Wrapper -->
		    <div id="wrapper">
		    	<div th:replace="layout/sidebar::sidebar"></div>
		        <!-- Content Wrapper -->
		        <div id="content-wrapper" class="d-flex flex-column">
		            <!-- Main Content -->
		            <div id="content">
		                <div th:replace="layout/topbar::topbar"></div>
		                <!-- Begin Page Content -->
		                <div class="container-fluid">
		                    <!-- Page Heading -->
		                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
		                        <h1 class="h3 mb-0 text-gray-800"></h1>
		                    </div>
		                    <div class="row mb-3">
		                    	<div class="col">
		                    		<div class="card">
		                    			<div class="card-header">
				                    		<h5 class="card-title mb-0">회원 목록</h5>		                    					
									    </div>
		                    			<ul class="list-group list-group-flush">
		                    				<th:block th:if="${uList != null}">
		                    					<th:block th:each="userOne : ${uList}">
		                    						<th:block th:if="${userOne != user.userId}">
		                    							<li class="list-group-item" th:text="${userOne.userId}"></li>
		                    						</th:block>
		                    					</th:block>
		                    				</th:block>
										</ul>
		                    		</div>
		                    	</div>
		                    	<div class="col">
		                    		<div class="card">
		                    			<div class="card-header">
		                    				<div class="row">
		                    					<div class="col">
				                    				<h5 class="card-title mb-0">오늘 할일</h5>		                    					
		                    					</div>
		                    					<div class="col text-right">
				                    				<a th:href="@{/todo/myTodo.do}" class="card-link">더보기</a>		                    					
		                    					</div>
		                    				</div>
									    </div>
		                    			<div class="card-body">
		                    			</div>
		                    		</div>
		                    	</div>
		                    </div>
		                    <div class="row">
		                    	<div class="col">
		                    		<div class="card">
		                    			<div class="card-header">
		                    				<div class="row">
		                    					<div class="col">
				                    				<h5 class="card-title mb-0">공지 사항</h5>		                    					
		                    					</div>
		                    					<div class="col text-right">
				                    				<a href="#" class="card-link">더보기</a>		                    					
		                    					</div>
		                    				</div>
									    </div>
		                    			<div class="card-body">
		                    			</div>
		                    		</div>
		                    	</div>
		                    </div>
		                </div>
		                <!-- /.container-fluid -->
		            </div>
		            <!-- End of Main Content -->
		            <div th:replace="layout/footer::footer"></div>
		        </div>
		        <!-- End of Content Wrapper -->
		    </div>
		    <!-- End of Page Wrapper -->
		    <!-- Scroll to Top Button-->
		    <a class="scroll-to-top rounded" href="#page-top">
		        <i class="fas fa-angle-up"></i>
		    </a>
	   	</th:block>
	</body>
</html>