<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:replace="layout/head::header"></head>
<!-- 	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> -->
	<body id="page-top">
		<th:block sec:authorize="isAuthenticated()">
		    <!-- Page Wrapper -->
		    <div id="wrapper">
		    	<div th:replace="layout/sidebar::sidebar"></div>
		        <!-- Content Wrapper -->
		        <div id="content-wrapper" class="d-flex flex-column">
		            <!-- Main Content -->
		            <div id="content">
		                <div th:replace="layout/topbar::topbar"></div>
		                <!-- Begin Page Content -->
		                <div class="container-fluid">
		                    <h2>팀 등록</h2>
						    <form action="/team/update.do" method="post">
						    	<input type="hidden" th:value="${teamNo}" name="teamNo">
						        <div class="form-group">
						            <label for="teamName">팀 이름</label>
						            <input type="text" class="form-control" id="teamName" name="teamName" th:value="${teamName}" required>
						        </div>
						        <div class="form-group">
						        	<div class="row align-items-center mb-3">
						        		<div class="col align-items-center">
								            <label class="mb-0" for="teamMembers">팀원 목록</label>
						        		</div>
						        		<div class="col text-right">
									        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addMemberModal">팀원 추가</button>
						        		</div>
						        	</div>
						            <ul class="list-group" id="teamMembers">
						            	<th:block th:if="${uList != null}">
						            		<th:block th:each="teamUser : ${uList}">
						            			<th:block th:if="${teamManager != teamUser.userId}">
									            	<li class="list-group-item">
									            		<div class="row align-items-center">
										            		<input type="hidden" name="userIds" th:value="${teamUser.userId}">
										            		<div class="col">
											            		<span  th:text="${teamUser.userId}"></span>
										            		</div>
										            		<div class="col text-right">
											            		<button type="button" class="btn btn-outline-danger" onclick="deleteUserInList(this)">삭제</button>								            		
										            		</div>
									            		</div>
									            	</li>
						            			</th:block>
						            		</th:block>
						            	</th:block>
						                <!-- 팀원이 추가될 때마다 여기에 표시됩니다. -->
						            </ul>
						        </div>
						        <div class="text-center">
							        <button type="submit" class="btn btn-primary btn-lg">팀 수정하기</button>
						        </div>
						    </form>
		                </div>
		                <!-- /.container-fluid -->
		            </div>
		            <!-- End of Main Content -->
		            <div th:replace="layout/footer::footer"></div>
		        </div>
		        <!-- End of Content Wrapper -->
		    </div>
		    <!-- End of Page Wrapper -->
		    <!-- 팀원 추가 모달 -->
			<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title" id="addMemberModalLabel">팀원 추가</h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="modal-body">
			                <div class="form-group">
			                    <label for="userId">팀원 아이디</label>
			                    <input type="text" class="form-control" id="userId">
			                </div>
			                <!-- 입력값 체크 버튼 -->
	               			<button type="button" class="btn btn-primary" th:onclick="checkMember([[${user}]])">확인</button>
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
			                <button type="button" class="btn btn-primary" onclick="addMember()" id="addBtn" disabled>추가</button>
			            </div>
			        </div>
			    </div>
			</div>
		    <!-- Scroll to Top Button-->
		    <a class="scroll-to-top rounded" href="#page-top">
		        <i class="fas fa-angle-up"></i>
		    </a>
	   	</th:block>
		<script type="text/javascript">
			/* 팀원 추가 버튼 클릭 시 실행되는 함수 */
		    function addMember() {
		    	let addBtn = $('#addBtn');
		        var userId = $("#userId").val(); // 입력된 팀원 아이디 가져오기
		        if (userId.trim() !== '') {
		            // 입력된 팀원 아이디가 비어 있지 않으면 목록에 추가
		            $("#teamMembers").append(
		            		'<li class="list-group-item">'+
		            		'    <div class="row align-items-center">'+
		            		'        <input type="hidden" name="userIds" value="' + userId + '">' + 
		            		'        <div class="col">'+
		            		'            <span>' + userId + '</span>'+
		            		'        </div>'+
		            		'        <div class="col text-right">'+
		            		'            <button type="button" class="btn btn-outline-danger" onclick="deleteUserInList(this)">삭제</button>'+
		            		'        </div>'+
		            		'    </div>'+
		            		'</li>');
		            $("#addMemberModal").modal('hide'); // 모달 닫기
		            $("#userId").val(''); // 입력 필드 초기화		            	
		        }
		        addBtn.attr("disabled", true);
		    }
		    
		    function checkMember(user) {
		    	let userId = $('#userId').val();
		    	let addBtn = $('#addBtn');
		    	if (userId == user.userId) {
		    		alert("현재 접속하신 아이디와 동일합니다");
		    	} else {
			    	$.ajax({
			    		url: "/team/checkUser.do",
			    		data: {"userId" : userId},
			    		type: "POST",
			    		success: function(result) {
			    			if (result == 'success') {
			    				addBtn.attr("disabled", false);
			    			} else {
				    			alert("존재하지 않는 회원입니다");
			    				addBtn.attr("disabled", true);
			    			}
			    		},
			    		error: function() {
			    			alert("ajax 오류데스")
			    		}
			    	});
		    	}
		    }
		    
		    function deleteUserInList(button) {
		    	button.parentElement.parentElement.parentElement.remove();
		    }
		</script>
	</body>
</html>