<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Map</title>
		<link href="../css/map/map.css" th:href="@{/css/map/map.css}" rel="stylesheet">
	</head>
	<body>
		<div id="sidebar">
			<ul>
				<li th:each="marker : ${mList }">
					<div>
						<div th:text="${marker.userId}"></div>
						<div th:text="${marker.markerDate}"></div>
						<div th:text="${marker.markerLike}"></div>
					</div>
				</li>
			</ul>
		</div>
		<div id="map"></div>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=167b7eccbd724750336e7abcc050a87b&libraries=drawing"></script>
		<script th:inline="javascript">
			let mList = [[${mList}]];
			
			var mapContainer = document.getElementById('map'), mapOptions = {
				center : new kakao.maps.LatLng(37.56793539404068, 126.98305512017927), // 지도의 중심좌표
				level : 3 // 지도의 확대 레벨
			};
	
			// 지도 div와 지도 옵션으로 지도를 생성합니다
			var map = new kakao.maps.Map(mapContainer, mapOptions); 
			
			// 지도에 표시된 마커 객체를 가지고 있을 배열입니다
			var markers = [];
			
			mList.forEach(function(marker) {
				addMarkerByMarker(marker);
			});

			kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
			    // 클릭한 위치에 마커를 표시합니다 
			    addMarker(mouseEvent.latLng);
			});
			
			// 이미 생성된 마커들 생성
			function addMarkerByMarker(marker) {
			    // 마커를 생성합니다
			    var marker = new kakao.maps.Marker({
			        position: new kakao.maps.LatLng(marker.markerLat, marker.markerLng),
			    	title: marker.userId
			    });
			    // 마커가 지도 위에 표시되도록 설정합니다
			    marker.setMap(map);
			    // 생성된 마커를 배열에 추가합니다
			    markers.push(marker);
			}
			
			// 마커를 생성하고 지도위에 표시하는 함수입니다
			function addMarker(position) {
			    // 마커를 생성합니다
			    var marker = new kakao.maps.Marker({
			        position: position
			    });
			    marker.setTitle([[${userId}]]);
			    // 마커가 지도 위에 표시되도록 설정합니다
			    marker.setMap(map);
			    // 생성된 마커를 배열에 추가합니다
			    markers.push(marker);
			    
			    addInfowindow(marker);
			}
			
			// 인포윈도우를 생성하고 지도위에 표시하는 함수입니다
			function addInfowindow(marker) {
// 				let marker = marker;
				console.log(marker);
				var iwContent = '<div>' +
					'	생성쓰?<br>' +
					'	<button type="button" onclick="insertMarker(' + marker + ');">생성</button><br>' +
					'	<button type="button" onclick="deleteMarker();">삭제</button>' +
					'</div>';
			    // 인포윈도우를 생성합니다
			    var infowindow = new kakao.maps.InfoWindow({
				    position : marker.getPosition(), 
				    content : iwContent 
				});
			    infowindow.open(map, marker); 
			}
			
			function insertMarker(marker) {
				
			}
			
			function deleteMarker(marker) {
				marker.setMap(null);
			}
		</script>
	</body>
</html>