<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>나의 투두리스트</title>
	    <link href="../css/common/bootstrap.css" th:href="@{/css/common/bootstrap.css}" rel="stylesheet">
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
<link href="../css/common/bootstrap.css" th:href="@{/css/common/bootstrap.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="sidebars.js"></script>	    
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
			    <h1>나의 투두 리스트 : )</h1>
			    <button class="btn btn-secondary rounded-pill px-3" type="button" onclick="insertTodo();">할릴등뇩</button>
			    <div class="row align=items-md=stretch mt-5">
				    <div class="col-md-6">
						<div style="display: inline;">
							<div>
							    <h3 style="color: black; display: inline;">Today</h3>
							    <span id="todayDate" style="color: gray;"></span>
								<button type="button" class="btn btn-light" onclick="todayInsert();">+</button>
							</div>
							<div class="progress mb-3" role="progressbar" aria-label="Info example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-success w-50">50%</div>
							</div>
							<div th:each="todo : ${tList}" th:if="${#strings.substring(todo.startDate,0,10) == today}">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">
								    	<span th:text="${todo.todoContent}"></span><br>
									</label>
								</div>				
							    <span th:text="${#strings.substring(todo.startDate,10,16)}"></span>
							    <span th:text="${#strings.substring(todo.endDate,10,16)}"></span>
							</div>
						</div> 
				    </div>
				    <div class="col-md-6">
						<div style="display: inline;">
							<div>
							    <h3 style="color: black; display: inline;">Tomorrow</h3>
							    <span id="tomorrowDate" style="color: gray;"></span>
							    <button type="button" class="btn btn-light" onclick="tomorrowInsert();">+</button>
							</div>
							<div class="progress mb-3" role="progressbar" aria-label="Info example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar text-bg-success w-50">50%</div>
							</div>				
						    <div th:each="todo : ${tList}" th:if="${#strings.substring(todo.startDate,0,10) == tomorrow}">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">
								    	<span th:text="${todo.todoContent}"></span><br>
									</label>
								</div>	
							    <span th:text="${#strings.substring(todo.startDate,10,16)}"></span>
							    <span th:text="${#strings.substring(todo.endDate,10,16)}"></span>
						    </div>
						</div>
				    </div>
			    </div>
			
			</div>
			<div class="col-2">
				<div class="flex-shrink-0 p-3" style="width: 280px;">
					<a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
						<svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
						<span class="fs-5 fw-semibold">Collapsible</span>
					</a>
					<ul class="list-unstyled ps-0">
						<li class="mb-1">
							<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
								<h5>Monday</h5> <span>4/22</span>
							</button>
							<div class="collapse show" id="home-collapse">
								<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">투두리스트</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">일정등록</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">월요일</a></li>
								</ul>
							</div>
						</li>
						<li class="mb-1">
						<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
							<h5>Tuesday</h5> <span>4/23</span>
						</button>
						<div class="collapse" id="dashboard-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">이건</a></li>
								<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">화요일</a></li>
								<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">일정이여~</a></li>
								<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">진짜루</a></li>
							</ul>
						</div>
						</li>
						<li class="mb-1">
							<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
								<h5>wednesday</h5> <span>4/24</span>
							</button>
							<div class="collapse" id="orders-collapse">
								<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">왜 수요일까지만</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">있을까? 사이드바</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">더 넣어야 하는디</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">ㅠㅠ</a></li>
								</ul>
							</div>
						</li>
						<li class="mb-1">
							<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
								<h5>weekend</h5> <span>4/25~4/26</span>
							</button>
							<div class="collapse" id="account-collapse">
								<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
									<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
			<!-- Today 모달창 -->
			<div class="modal" id="todayInsert" tabindex="-1" role="dialog" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content rounded-4 shadow">
			            <div class="modal-header border-bottom-0">
			                <h1 class="modal-title fs-5">오늘 할 일 등록</h1>
			                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeTodayModal()"></button>
			            </div>
			            <div class="modal-body py-0">
			            </div>
			            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
			                <button type="button" id="deleteTodo" class="btn btn-lg btn-success" onclick="deleteTodo();">삭제하기</button>
			                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" onclick="closeTodayModal()">수정하기</button>
			            </div>
			        </div>
			    </div>
			</div>
			<!-- Tomorrow 모달창 -->		
			<div class="modal" id="tomorrowInsert" tabindex="-1" role="dialog" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content rounded-4 shadow">
			            <div class="modal-header border-bottom-0">
			                <h1 class="modal-title fs-5">내일 할 일 등록</h1>
			                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeTomorrowModal()"></button>
			            </div>
			            <div class="modal-body py-0">
			            </div>
			            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
			                <button type="button" id="deleteTodo" class="btn btn-lg btn-success" onclick="deleteTodo();">삭제하기</button>
			                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" onclick="closeTomorrowModal()">수정하기</button>
			            </div>
			        </div>
			    </div>
			</div>
	    <script type="text/javascript">
	    
	    	// 모달 띄우기
			function todayInsert() {
	            var modal = document.getElementById("todayInsert");
	            modal.style.display = "block";
			}
			function tomorrowInsert() {
	            var modal = document.getElementById("tomorrowInsert");
	            modal.style.display = "block";
			}
			
	        // 모달 닫기
	        function closeTodayModal() {
	            var modal = document.getElementById("todayInsert");
	            modal.style.display = "none";
	        }
	        function closeTomorrowModal() {
	            var modal = document.getElementById("tomorrowInsert");
	            modal.style.display = "none";
	        }
	    	
	        // 할일등록이동
	        function insertTodo() {
	            location.href = "/todo/insert.do";
	        }
	        
			// Today, Tomorrow 시간 가져오기
	        window.onload = function getTime() {
	            var d = new Date();
	            var year = d.getFullYear();
	            var month = ('0' + (d.getMonth() + 1)).slice(-2);
	            var day = ('0' + d.getDate()).slice(-2);
	            var hur = d.getHours();
	            var min = d.getMinutes();
	            var sec = d.getSeconds();
	
	            // 오늘 날짜를 mm/dd 형식으로 출력
	            var todayDate = document.getElementById("todayDate");
	            todayDate.innerHTML = month + "/" + day;
	            
	            var tomorrowDate = document.getElementById("tomorrowDate");
	            var tomorrow = new Date();
	            tomorrow.setDate(tomorrow.getDate() + 1);
	            var tomorrowMonth = ('0' + (tomorrow.getMonth() + 1)).slice(-2);
	            var tomorrowDay = ('0' + tomorrow.getDate()).slice(-2);
	            tomorrowDate.innerHTML = tomorrowMonth + "/" + tomorrowDay;
	        }
	    </script>
	</body>
</html>