<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>나의 투두리스트</title>
	</head>
	<body>
		나의 투두 리스트 : )
		<br>
		<button type="button" onclick="insertTodo();">할릴등뇩</button>
		<p id="WhatTimeIsItNow"></p>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>내용</th>
					<th>시작일</th>
					<th>마감일</th>
					<th>상태</th>
				</tr>				
			</thead>
			<tbody>
				<tr th:each="tList : ${tList}">
					<td th:text="${tList.todoNo}"></td>
					<td th:text="${tList.todoContent}"></td>
					<td th:text="${tList.startDate}"></td>
					<td th:text="${tList.endDate}"></td>
					<td th:text="${tList.todoStatus}"></td>
				</tr>
			</tbody>
		</table>
		<script type="text/javascript">
			function insertTodo() {
				location.href = "/todo/insert.do";
			}
			
			window.onload = function getTime() {
				var d = new Date();
				var year = d.getFullYear();
				var month = ('0' + (d.getMonth() + 1)).slice(-2);
				var day = ('0' + d.getDate()).slice(-2);
				var hur = d.getHours();		// 시
				var min = d.getMinutes();	//분
				var sec = d.getSeconds();	//초
				
				var timeBoard = document.getElementById("WhatTimeIsItNow"); // 값이 입력될 공간
				var time = year + "-" + month + "-" + day	// 형식 지정
				timeBoard.innerHTML = time;	// 출력
			}

		</script>
	</body>
</html>